<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">


<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/header :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='projets')}"/>
<div class ="container">
  <div class = "row">
    <h1 th:text="#{greeting}"> List Projets </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/admin/projet/createProjet}" class = "btn btn-primary btn-sm mb-3"> Ajouter </a>
    </div>

    <span th:text="#{lang.change}"></span>:
    <select id="locales">
      <option value=""></option>
      <option value="en" th:text="#{lang.eng}"></option>
      <option value="fr" th:text="#{lang.fr}"></option>
    </select>

  </div>

  <h1>Page tuteur</h1>


</div>


<div th:replace="~{fragments/footer.html :: footer}"/>
</body>
</html>