<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

  <div class="container-fluid">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-2 text-warning "><img class="navbar-brand" id="logoEmmaus" src="" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item  mx-5"><a class="nav-link active text-warning" aria-current="page" href="">ACCUEIL</a></li>
        <!--<li class="nav-item  mx-5"><a class="nav-link active text-warning" aria-current="page" href="">Projet</a></li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mx-5 text-warning" href="#" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Rentree</a>
          <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item  text-warning" href="">CDA 2022</a></li>
            <!--<li><a class="dropdown-item  text-warning" href="">DWWW 2022</a></li>-->
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mx-5 text-warning" href="#" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Equipe</a>
          <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item  text-warning" href="">Equipe A</a></li>
            <li><a class="dropdown-item  text-warning" href="">Equipe B</a></li>
          </ul>
        <li class="nav-item  mx-5"><a class="nav-link  text-warning" aria-current="page" href="">Candidat</a></li>

        </li>
      </ul>
    </div>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  </div>

</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-bg-dark w-30" id="sidenavAccordion">
      <div class="sb-sidenav-menu bg-dark">
        <div class="nav">
          <form method="POST" action="">
            @csrf
            <button class="nav-link btn text-warning mt-5">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
              Deconnexion
            </button>
          </form>

          <a class="nav-link text-warning mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-lock"></i></div>
            Dashboard
          </a>




          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-5 text-warning" href="#" id="navbarDropdown" data-bs-toggle="dropdown"  role="button" aria-expanded="false">PROJET</a>
            <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item  text-warning" th:href="@{/template/admin/projet/projets}">Projets</a></li>
              <li><a class="dropdown-item  text-warning" th:href="@{/template/admin/projet/createProjet}">Creation</a></li>
              <li><a class="dropdown-item  text-warning" th:href="@{/template/admin/projet/editProjet}">Modification</a></li>
              <li><a class="dropdown-item  text-warning" th:href="@{/template/admin/projet/showProjet}">Voir</a></li>
            </ul>

          <a class="nav-link  text-warning mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-handshake-simple"></i></div>
            Equipe
          </a>

          <a class="nav-link  text-warning  mt-4 mb-4" href="{{URL::to('/partenaire')}}">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
            Candidat
          </a>

          <a class="nav-link  text-warning  mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-feather-pointed"></i></div>
            Commentaire
          </a>

          <a class="nav-link text-warning  mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-id-card"></i></div>
            Rentree
          </a>

          <a class="nav-link text-warning  mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-id-card"></i></div>
            Tuteur
          </a>
          @if (auth()->user()->Role->nom=="superAdmin")


          <a class="nav-link  text-warning  mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
            Utilisateurs
          </a>

          <a class="nav-link  text-warning  mt-4 mb-4" href="">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
            Roles
          </a>
          @endif
        </div>
      </div>
    </nav>
  </div>


</div>