<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header.html :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='equipes')}"/>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Equipe</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/equipe/equipes}">Equipe</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Equipe </h1>
            <div class = "card-body">
                <form th:action="@{/admin/equipe/equipes}" th:object = "${equipeDTO}" method="POST" >

                    <input th:field="*{id}" type="hidden" name="">


                    <div class ="form-group">
                        <label class="form-label" for="nom" > Nom de l'équipe </label>
                        <input
                                id="nom"
                                type = "text"
                                name = "nom"
                                th:field = "*{nom}"
                                class = "form-control"
                                placeholder="Enter le nom de l equipe"
                        >
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}"/>
</body>
</html>