<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title></title>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='projets')}"></div>


<main class="container min-vh-100">

    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <p th:text="${error}" class="error"></p>
        <div><label for="email">Email</label><input id="email" name="username" type="email"></div>
        <div><label for="mdp">Mdp</label><input id="mdp" name="password" type="password"></div>
        <button type="submit">Login</button>
    </form>
</main>

</body>

<br>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>




